@import "./signup-form.scss";

/*
    Header visual
 */

.sr-header-visual {
    aspect-ratio: 16/8;
    background-color: white;
    filter: drop-shadow(0 25px 50px rgba(255, 255, 255, 0.125));

    img {
        object-position: bottom right;
    }

    @media (max-width: 767px) {
        aspect-ratio: 3/2;
    }
}


/**
* Card
*/
.sr-card {
    border: 0.5px solid theme('colors.primary');
    border-top: 10px solid theme('colors.primary');
    padding-top: calc(1.5rem - 10px) !important;
    @apply bg-white text-bg-950 p-2 md:p-6;

    @media (max-width: 767px) {
        border-top: 5px solid theme('colors.primary');
        padding-top: calc(1rem - 5px);
    }
}


/**
* Button
*/
.sr-button {
    @apply inline-block px-4 py-2 text-white bg-primary text-center;
}
